# Senario & Objective

<p>An investment firm A is specialising in financial data analytics for businesses.
<br>It requested analysis of three investment options (gold, oil) to determine which of them is the most stable entity to invest in.</p>

# Approach

<p>A descriptive and diagnostic analysis of oil and gold stock prices to be conducted.
<br>Utilized data sets (read the files from the same folder where this .ipynb file is):</p>
<ul>
    <li>gold_stocks_price.csv</li>
    <li>oil_price.csv</li>
</ul>

# Analysis

In [96]:
# import libraries
import pandas as pd

In [97]:
# import data and check success
gold_stock = pd.read_csv('gold_stocks_price.csv')
oil = pd.read_csv('oil_price.csv')

In [98]:
whos

Variable               Type         Data/Info
---------------------------------------------
dataframe_columns      function     <function dataframe_colum<...>ns at 0x000001C292D4C180>
dataframe_hash         function     <function dataframe_hash at 0x000001C292D4D9E0>
dtypes_str             function     <function dtypes_str at 0x000001C292D4C680>
get_dataframes         function     <function get_dataframes at 0x000001C292D4E160>
getpass                module       <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
gold_stock             DataFrame                Date        O<...>n[1718 rows x 81 columns]
gold_stock_subset      DataFrame               Date        Op<...>n\n[500 rows x 6 columns]
hashlib                module       <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function     <function import_pandas_s<...>ly at 0x000001C292D4E3E0>
is_data_frame          function     <function is_data_frame at 0x000001C292D4DBC0>
json                   module       <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
oil                    DataFrame                Date   Price <...>\n[1844 rows x 6 columns]
oil_subset             DataFrame               Date   Price  <...>n\n[500 rows x 6 columns]
pd                     module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

## Exloration of 1st dataset

In [100]:
# explore imported data
print('gold_stock:')
gold_stock.info()

gold_stock:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1718 non-null   object
 1   Open           1718 non-null   float64
 2   High           1718 non-null   float64
 3   Low            1718 non-null   float64
 4   Close          1718 non-null   float64
 5   Adj Close      1718 non-null   float64
 6   Volume         1718 non-null   int64
 7   SP_open        1718 non-null   float64
 8   SP_high        1718 non-null   float64
 9   SP_low         1718 non-null   float64
 10  SP_close       1718 non-null   float64
 11  SP_Ajclose     1718 non-null   float64
 12  SP_volume      1718 non-null   int64
 13  DJ_open        1718 non-null   float64
 14  DJ_high        1718 non-null   float64
 15  DJ_low         1718 non-null   float64
 16  DJ_close       1718 non-null   float64
 17  DJ_Ajclose     1718 non-null   float64
 18  DJ_volume      1718 non-null   int64
 19  EG_open        1718 non-null   float64
 20  EG_high        1718 non-null   float64
 21  EG_low         1718 non-null   float64
 22  EG_close       1718 non-null   float64
 23  EG_Ajclose     1718 non-null   float64
 24  EG_volume      1718 non-null   int64
 25  EU_Price       1718 non-null   float64
 26  EU_open        1718 non-null   float64
 27  EU_high        1718 non-null   float64
 28  EU_low         1718 non-null   float64
 29  EU_Trend       1718 non-null   int64
 30  OF_Price       1718 non-null   float64
 31  OF_Open        1718 non-null   float64
 32  OF_High        1718 non-null   float64
 33  OF_Low         1718 non-null   float64
 34  OF_Volume      1718 non-null   int64
 35  OF_Trend       1718 non-null   int64
 36  OS_Price       1718 non-null   float64
 37  OS_Open        1718 non-null   float64
 38  OS_High        1718 non-null   float64
 39  OS_Low         1718 non-null   float64
 40  OS_Trend       1718 non-null   int64
 41  SF_Price       1718 non-null   int64
 42  SF_Open        1718 non-null   int64
 43  SF_High        1718 non-null   int64
 44  SF_Low         1718 non-null   int64
 45  SF_Volume      1718 non-null   int64
 46  SF_Trend       1718 non-null   int64
 47  USB_Price      1718 non-null   float64
 48  USB_Open       1718 non-null   float64
 49  USB_High       1718 non-null   float64
 50  USB_Low        1718 non-null   float64
 51  USB_Trend      1718 non-null   int64
 52  PLT_Price      1718 non-null   float64
 53  PLT_Open       1718 non-null   float64
 54  PLT_High       1718 non-null   float64
 55  PLT_Low        1718 non-null   float64
 56  PLT_Trend      1718 non-null   int64
 57  PLD_Price      1718 non-null   float64
 58  PLD_Open       1718 non-null   float64
 59  PLD_High       1718 non-null   float64
 60  PLD_Low        1718 non-null   float64
 61  PLD_Trend      1718 non-null   int64
 62  RHO_PRICE      1718 non-null   int64
 63  USDI_Price     1718 non-null   float64
 64  USDI_Open      1718 non-null   float64
 65  USDI_High      1718 non-null   float64
 66  USDI_Low       1718 non-null   float64
 67  USDI_Volume    1718 non-null   int64
 68  USDI_Trend     1718 non-null   int64
 69  GDX_Open       1718 non-null   float64
 70  GDX_High       1718 non-null   float64
 71  GDX_Low        1718 non-null   float64
 72  GDX_Close      1718 non-null   float64
 73  GDX_Adj Close  1718 non-null   float64
 74  GDX_Volume     1718 non-null   int64
 75  USO_Open       1718 non-null   float64
 76  USO_High       1718 non-null   float64
 77  USO_Low        1718 non-null   float64
 78  USO_Close      1718 non-null   float64
 79  USO_Adj Close  1718 non-null   float64
 80  USO_Volume     1718 non-null   int64
dtypes: float64(58), int64(22), object(1)
memory usage: 1.1+ MB

In [101]:
# preview slice of a dataset
gold_stock[['Date','Open','High','Low']].head()

         Date        Open        High         Low
0  2011-12-15  154.740005  154.949997  151.710007
1  2011-12-16  154.309998  155.369995  153.899994
2  2011-12-19  155.479996  155.860001  154.360001
3  2011-12-20  156.820007  157.429993  156.580002
4  2011-12-21  156.979996  157.529999  156.130005

In [102]:
gold_stock[['Date','Open','High','Low']].tail()

            Date        Open        High         Low
1713  2018-12-24  119.570000  120.139999  119.570000
1714  2018-12-26  120.620003  121.000000  119.570000
1715  2018-12-27  120.570000  120.900002  120.139999
1716  2018-12-28  120.800003  121.080002  120.720001
1717  2018-12-31  120.980003  121.260002  120.830002

In [103]:
# create a subset of 500 rows
gold_stock_subset = gold_stock[['Date','Open','High','Low']].iloc[:500]
gold_stock_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    500 non-null    object
 1   Open    500 non-null    float64
 2   High    500 non-null    float64
 3   Low     500 non-null    float64
dtypes: float64(3), object(1)
memory usage: 15.8+ KB

In [104]:
# confirm no missing values
gold_stock_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

## Exloration of 2nd dataset

In [106]:
# explore imported data
print('oil:')
oil.info()

oil:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844 entries, 0 to 1843
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1844 non-null   object
 1   Price   1844 non-null   float64
 2   Open    1844 non-null   float64
 3   High    1844 non-null   float64
 4   Low     1844 non-null   float64
 5   Vol.    1844 non-null   object
dtypes: float64(4), object(2)
memory usage: 86.6+ KB

In [107]:
# preview slice of a dataset
oil[['Date', 'Open', 'High', 'Low']].head()

         Date    Open    High     Low
0  2011-12-01  100.51  101.17   98.87
1  2011-12-02  100.00  101.56   99.76
2  2011-12-05  101.23  102.44  100.24
3  2011-12-06  100.45  101.42  100.20
4  2011-12-07  101.11  101.94   99.67

In [108]:
oil[['Date', 'Open', 'High', 'Low']].tail()

            Date   Open   High    Low
1839  2018-12-25  43.00  43.25  42.88
1840  2018-12-26  42.85  47.00  42.52
1841  2018-12-27  46.58  46.70  44.37
1842  2018-12-28  45.44  46.22  44.42
1843  2018-12-31  45.22  46.53  44.73

In [109]:
# create a subset of 500 rows
oil_subset = oil[['Date', 'Open', 'High', 'Low']].iloc[:500]
oil_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    500 non-null    object
 1   Open    500 non-null    float64
 2   High    500 non-null    float64
 3   Low     500 non-null    float64
dtypes: float64(3), object(1)
memory usage: 15.8+ KB

In [110]:
# confirm no missing values
oil_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

## Comaparative analysis

In [112]:
# calculate descriptive statistics:
print('gold_stock_subset:')
print(gold_stock_subset.describe())
print('oil_subset:')
print(oil_subset.describe())

gold_stock_subset:
             Open        High         Low
count  500.000000  500.000000  500.000000
mean   149.033480  149.774340  148.266740
std     16.923214   16.919180   16.871447
min    117.580002  118.180000  116.739998
25%    132.134998  133.144997  131.192501
50%    155.070000  155.610001  154.360001
75%    161.862500  162.577500  161.149994
max    173.199997  174.070007  172.919998
oil_subset:
             Open        High         Low
count  500.000000  500.000000  500.000000
mean    96.196620   97.153780   95.084320
std      6.991871    6.945661    7.003769
min     78.110000   79.680000   77.280000
25%     91.707500   92.627500   90.645000
50%     95.790000   96.640000   94.820000
75%    102.002500  102.962500  100.847500
max    110.280000  112.240000  109.110000

# Findings

In [114]:
# summarise findings
print(f"The maximum 'open' value within the 500 rows gold sample is {gold_stock_subset['Open'].max()}")
print(f"The minimum 'open' value within the 500 rows gold sample is {gold_stock_subset['Open'].min()}")

print(f"The maximum 'high' value within the 500 rows gold sample is {gold_stock_subset['High'].max()}")
print(f"The minimum 'high' value within the 500 rows gold sample is {gold_stock_subset['High'].min()}")

print(f"The maximum 'low' value within the 500 rows gold sample is {gold_stock_subset['Low'].max()}")
print(f"The minimum 'low' value within the 500 rows gold sample is {gold_stock_subset['Low'].min()}")

The maximum 'open' value within the 500 rows gold sample is 173.199997
The minimum 'open' value within the 500 rows gold sample is 117.580002
The maximum 'high' value within the 500 rows gold sample is 174.070007
The minimum 'high' value within the 500 rows gold sample is 118.18
The maximum 'low' value within the 500 rows gold sample is 172.919998
The minimum 'low' value within the 500 rows gold sample is 116.739998

In [115]:
print(f"The maximum 'open' value within the 500 rows oil sample is {oil_subset['Open'].max()}")
print(f"The minimum 'open' value within the 500 rows oil sample is {oil_subset['Open'].min()}")

print(f"The maximum 'high' value within the 500 rows oil sample is {oil_subset['High'].max()}")
print(f"The minimum 'high' value within the 500 rows oil sample is {oil_subset['High'].min()}")

print(f"The maximum 'low' value within the 500 rows oil sample is {oil_subset['Low'].max()}")
print(f"The minimum 'low' value within the 500 rows oil sample is {oil_subset['Low'].min()}")

The maximum 'open' value within the 500 rows oil sample is 110.28
The minimum 'open' value within the 500 rows oil sample is 78.11
The maximum 'high' value within the 500 rows oil sample is 112.24
The minimum 'high' value within the 500 rows oil sample is 79.68
The maximum 'low' value within the 500 rows oil sample is 109.11
The minimum 'low' value within the 500 rows oil sample is 77.28